<template name="addWorkoutButtons">
    <div id="management-buttons" class="row no-margins">
      <div class="pull-right">
        <div class="btn-group float-left" role="group" aria-label="management-buttons">
          <button type="button" class="btn btn-default">Jump</button>
          <button type="button" class="btn btn-default">Arrange</button>
          <button type="button" class="btn btn-default">Delete</button>
        </div>

        <div id="management-btn-right" class="btn-right float-left">
          <button id="save-workout" class="btn btn-primary">Save</button>
        </div>
    </div>
  </div>    
</template>