<template name="addSet">
  <div class="set row rm-margin">
    <form class="form-inline pull-right">
      <div class="form-group {{errorClass uniqueWeightId}}">
        <label>Weight</label>
        <input id="{{uniqueWeightId}}" class="form-control weight" name="weight" type="text" />
      </div>
      <div class="form-group {{errorClass uniqueRepsId}}">
        <label>Reps</label>
        <input id="{{uniqueRepsId}}" class="form-control reps" name="reps" type="text" />
      </div>
      <div class="form-group set-btns float-right">
        <button class="del-set btn btn-danger set-btn hidden"><span class="glyphicon glyphicon-minus " aria-hidden="true"></span></button>
        <button class="add-set btn btn-primary set-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        
      </div>
    </form>
  </div>
</template>