<template name="addWorkoutExercise">
  <div id="exercise-{{uniqueId}}" class="row exercise rm-margin">
    <div class="col-md-12">
      <div class="exercise-header form-group row">
        <h2 class="exercise-label float-left">Exercise</h2>
        <div class="exercise-buttons float-left">
          <button class="add-exercise btn btn-primary">+</button>
          <button class="del-exercise btn btn-danger">-</button>
        </div>

        <div class=" exercise-add-note float-right">
          <button class="btn btn-primary" id="add-note">Note</button>
        </div>
      </div>
      {{> Template.dynamic template="exercisesList" data=uniqueIdData}}
 
      <div class="sets">
        {{> Template.dynamic template="addSet" data=uniqueIdData }}
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea id="notes-{{uniqueId}}" class="form-control notes" rows="4"></textarea>
      </div>
    </div>
  </div>
</template>