<template name="addSet">
  <div class="line set row">
    <form class="form-inline pull-right">
      <div class="form-group">
        <label>Weight</label>
        <input class="form-control weight" name="weight" type="text" />
      </div>
      <div class="form-group">
        <label>Reps</label>
        <input class="form-control reps" name="reps" type="text" />
      </div>
      <div class="form-group">
        <button class="add-set btn btn-primary">+</button>
        <button class="del-set btn btn-danger">-</button>
      </div>
    </form>
  </div>
</template>