<template name="addSet">
  <div class="line weight-rep">
    <form class="form-inline pull-right">
      <div class="form-group">
        <label>Weight</label>
        <input class="form-control weight" name="weight" type="text" />
      </div>
      <div class="form-group">
        <label>Reps</label>
        <input class="form-control reps" name="reps" type="text" />
      </div>
      <div class="form-group">
        <input type="submit" value="+" class="add-set form-control btn btn-primary submit"/>
      </div>
    </form>
  </div>
</template>