<template name="addWorkoutButtons">
    <div id="management-buttons" class="float-right no-margins">
      <div class="pull-right">

        <div class="btn-group float-left">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Manage <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Jump</a></li>
            <li><a href="#">Arrange</a></li>
            <li><a href="#">Delete</a></li>         
          </ul>
        </div>

        <div id="toggle-delete-btn" class="btn-right float-left">
          <button id="delete-elements" class="btn btn-primary">Delete</button>
        </div>

        <div id="management-btn-right" class="btn-right float-left">
          <button id="save-workout" class="btn btn-primary">Save</button>
        </div>
    </div>
  </div>    
</template>