/******************************
  Left Sidebar
*******************************/

#dashboard-ul
  li
    a
      display block

/******************************
  Dashboard Right
*******************************/

#dashboard-content-bottom
  padding 1em

