/******************************
  Left Sidebar
*******************************/

#dashboard-ul
  padding-left 0em
  li
    a
      display block
      padding-left 2em

/******************************
  Dashboard Right
*******************************/

#dashboard-content-bottom
  padding 1em

#dashboard-heading  
  h1
    font-size 150%
    margin 0.2em 0em

