/******************************
  Divs
*******************************/ 

.wt-rep-row
  border 1px solid #cacaca
  padding 10px 0px 10px
  margin-top 10px

.wt-rep-row span
  margin-top 5px
  display block

.exercise
  margin-top 2em
  background-color #e5e5e5
  border 1px solid black
  border-radius 5px
  padding 1em 1em 0 1em

.line
  margin-bottom 1.2em

.line.weight-rep
  margin-right 0
  margin-left 0
  
.exercises-list
  margin-bottom 20px

.rm-margin
  margin-left 0
  margin-right 0
  
.row.exercise
  padding 2em 2em 1em
  
.exercise-label  
  margin 0  

.set
  margin-bottom 1em

.workout.container
  padding-right 3em  

#title-name-area 
  width 60%
  label
    font-size 140%

#workout-title-area    
  margin-top 2em



/******************************
  Forms and Inputs 
*******************************/ 

.form-inline .form-group
  padding-left 2em

.input-group select.form-control
  margin-top 30px
  margin-bottom 15px

.form-inline label
  padding 0 0.5em

.form-control.title.input
  margin-left 1em
  width 40%  

.btn
  font-weight 900
  margin-left 0.5em

.exercise-text button
  margin-top 2em

#management-buttons
  padding-right 5em  

#management-btn-right
  padding-left 3em  
  .btn
    margin-left 0.5em
    
.exercise-buttons
  margin-left 1em
  position relative

.exercise-add-note
  margin-right 1.1em

#save-workout
  padding 6px 3em    

.add-exercise, .del-exercise
  position absolute  

.set-btns
  position relative
  .set-btn
    top 0
    left 0
      

/******************************
  Text
*******************************/ 


  
