<template name="dashboard">
<div id="dashboard-area">
  <div class="panel panel-default row rm-margin">
    <div class="panel-body col-md-2 row rm-margin">
      <ul>
        <li>
          <a href="#">Profile</a>
        </li>
        <li>
          <a href="#">
            Workouts
          </a>
        </li>
        <li>
          <a href="#">
            Templates
          </a>
        </li>
        <li>
          <a href="#">
            Goals
          </a>
        </li>
      </ul>
    </div>
    <div id="dashboard-content" class="panel panel-default col-md-10 row rm-margin no-paddings">
      <div class="panel-heading">
        Title
      </div>
      <p>Some content</p>
    </div>
  </div>
  
</div>
</template>