<template name="dashboard">
<div id="dashboard-area">
  <div class="row no-margins">
    <div class="panel-body col-md-2 row rm-margin">
      <ul id="dashboard-ul">        
        <li id="workouts">
          <a href="#">
            Workouts
          </a>
        </li>
        <li id="profile">
          <a href="#">
            Profile
          </a>
        </li>
        <li id="templates">
          <a href="#">
            Templates
          </a>
        </li>
        <li id="goals">
          <a href="#">
            Goals
          </a>
        </li>
      </ul>
    </div>
    <div id="dashboard-right" class="panel panel-default col-md-10 row rm-margin no-paddings">
      <div id="dashboard-heading" class="panel-heading">
        <h1 class="no-margins"></h1>
        
      </div>
      <div id="dashboard-content">
      </div>
    </div>
  </div>  
</div>
</template>