<template name="profile">
  <div id="dashboard-content-bottom">
    <div class="row no-margins">
      <form class="form-set form-inline pull-left profile">
        <div class="form-group block">
          <label>Name</label>
          <input id="name" class="form-control" name="name" type="text" />
        </div>
        <div class="form-group block">
          <label>Age</label>
          <input id="Age" class="form-control" name="Age" type="text" />
        </div>
        <div class="form-group block">
          <label>Weight</label>
          <input id="name" class="form-control" name="weight" type="text" />
        </div>     
      </form>
    </div>
    <div class="row no-margins padding-left">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</template>